@tailwind base;
@tailwind components;
@tailwind utilities;

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0px 8px 12px rgb(145, 143, 143);
  }
  ::-webkit-scrollbar{
   
    background-color: transparent;
  }